apiVersion: apps/v1
kind: Deployment
metadata:
  name: '{{ meta.name }}-smartgateway'
  namespace: '{{ meta.namespace }}'
spec:
  replicas: {{ size }}
  progressDeadlineSeconds: 600
  revisionHistoryLimit: 10
  strategy:
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 50%
    type: RollingUpdate
  selector:
    matchLabels:
      app: smart-gateway
      smart-gateway: '{{ meta.name }}'
  template:
    metadata:
      labels:
        app: smart-gateway
        smart-gateway: '{{ meta.name }}'
{% if smartgateway_resource_configmap is defined %}
        sg-config-resource-name: {{ smartgateway_resource_configmap.env | k8s_config_resource_name }}
{% endif %}
    spec:
      containers:
{% if (service_type == 'metrics') and (amqp_data_source == 'collectd') %}
      - name: bridge
        image: '{{ bridge_container_image_path }}'
        args:
        - --amqp_url
        - amqp://{{ amqp_url | default('messaging-internal-' + meta.name + '.' + meta.namespace + '.svc:5672/collectd/telemetry') }}
        - --verbose
        - --block
        - --stat_period
        - "60"
        - --rbc
        - "15000"
        volumeMounts:
        - mountPath: /tmp
          name: socket-dir
      - name: smart-gateway
        image: '{{ metrics_container_image_path }}'
        args:
          - -config
          - /etc/sg-core/sg-core.conf.yaml
        volumeMounts:
        - mountPath: /tmp
          name: socket-dir
        - mountPath: /etc/sg-core/
          name: sg-core-config
          readOnly: true
{% else %}
      - name: smart-gateway
        image: '{{ events_container_image_path }}'
{%   if smartgateway_resource_configmap is defined %}
        volumeMounts:
        - name: sg-config
          mountPath: /config
{%     if service_type == 'events' %}
        - name: elastic-certs
          mountPath: /config/certs
{%     endif %}
{%   endif %}
        args:
          - '-config=/config/smartgateway_config.json'
          - '-uname=$(MY_POD_NAME)'
          - '-servicetype={{ service_type }}'
        env:
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.name
        ports:
        - name: "{{ service_type }}"
          containerPort: 8081
{% endif %}
      volumes:
{% if (service_type == 'metrics') and (amqp_data_source == 'collectd') %}
      - name: socket-dir
        emptyDir: {}
      - name: sg-core-config
        configMap:
          name: sg-core-configmap

{% endif %}
{% if smartgateway_resource_configmap is defined %}
      - name: sg-config
        configMap:
          name: {{ meta.name }}-smartgateway
{%   if service_type == 'events' %}
      - name: elastic-certs
        secret:
          secretName: {{ tls_secret_name }}
{%   endif %}
{% endif %}
