apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: '{{ meta.name }}-smartgateway'
  namespace: '{{ meta.namespace }}'
spec:
  replicas: {{ size }}
  template:
    metadata:
      labels:
        app: smart-gateway
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - name: smart-gateway
        image: '{{ container_image_path }}'
        volumeMounts:
        - name: sg-config
          mountPath: /config
{% if service_type == 'events' %}
        - name: elastic-certs
          mountPath: /config/certs
{% endif %}
        args:
          - '-config=/config/smartgateway_config.json'
          - '-uname=$(MY_POD_NAME)'
          - '-servicetype={{ service_type }}'
        env:
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.name
        ports:
        - name: "{{ service_type }}"
          containerPort: 8081
      volumes:
      - name: sg-config
        configMap:
          name: "{{ meta.name }}-smartgateway"
{% if service_type == 'events' %}
      - name: elastic-certs
        secret:
          secretName: elasticsearch
{% endif %}
