apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ meta.name }}-smartgateway
  namespace: {{ meta.namespace }}
data:
  "smartgateway_config.json": |
    {
            "AMQP1EventURL": "{{ amqp_url | default('messaging-internal-' + meta.name + '.' + meta.namespace + '.svc:5672/collectd/notify') }}",
            "ElasticHostURL": "{{ elastic_url | default('elasticsearch.' + meta.namespace + '.svc:9200') }}",
            "AlertManagerURL": "{{ alertmanager_url | default('alertmanager.' + meta.namespace + '.svc:9093/api/v1/alerts') }}",
            "ResetIndex": {{ reset_index | default('false') }},
            "ServiceType": "{{ service_type | default('metrics') }}",
            "Debug": {{ debug | default('false') }},
            "Prefetch": {{ prefetch | default('0') }}
    }
