apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ meta.name }}-smartgateway
  namespace: {{ meta.namespace }}
data:
  "smartgateway_config.json": |
    {
            "AMQP1MetricURL": "{{ amqp_url | default('messaging-internal-' + meta.name + '.' + meta.namespace + '.svc:5672/collectd/telemetry') }}",
            "Exporterhost": "{{ exporter_host | default('0.0.0.0') }}",
            "Exporterport": {{ exporter_port | default(8081) }},
            "CPUStats": {{ cpu_stats | default('false') }},
            "DataCount": {{ data_count | default(-1) }},
            "ServiceType": "{{ service_type | default('metrics') }}",
            "Debug": {{ debug | default('true') }},
            "Prefetch": {{ prefetch | default(1000) }},
            "UseTimestamp": {{ use_timestamp | default('true') }}
    }
