apiVersion: v1
kind: Service
metadata:
  name: '{{ meta.name }}-smartgateway'
  namespace: '{{ meta.namespace }}'
  labels:
    app: smart-gateway
    smart-gateway: '{{ meta.name }}'
spec:
  ports:
  - name: prom-http
    port: 8081
    targetPort: 8081
    protocol: TCP
  selector:
    app: smart-gateway
    smart-gateway: '{{ meta.name }}'
