apiVersion: v1
kind: Service
metadata:
  name: '{{ this_service.name }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ this_service.name }}-proxy-tls
  labels:
    app: smart-gateway
    smart-gateway: '{{ ansible_operator_meta.name }}'
spec:
  ports:
{% for this_port in this_service.ports %}
  - name: {{ this_port.name }}
    port: {{ this_port.port }}
    targetPort: {{ this_port.target_port }}
    protocol: {{ this_port.protocol }}
  selector:
    app: smart-gateway
    smart-gateway: '{{ ansible_operator_meta.name }}'
{% endfor %}
# vim: set ft=yaml shiftwidth=2 tabstop=2 expandtab:
