---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ meta.name }}-sg-core-configmap
  namespace: {{ meta.namespace }}
data:
  "sg-core.conf.yaml": |
    loglevel: info
    transports:
      - name: socket
        handlers: 
          - collectd-metrics
        config:
          path: /tmp/smartgateway
    applications: 
      - name: prometheus 
        config:
          host: 0.0.0.0
          port: 8081
          metrictimeout: 30
          withtimestamp: {{ use_timestamp }}